Footer {
    position: flex;
    bottom: 0;
    width: 100%;
}

Navbar {
    width: 20%; 
}

Menu {
    width: auto;
    display: flex;
    flex-direction: column;
    
}

/* Tailwind CSS */ 
@tailwind base;
@tailwind components;
@tailwind utilities;


